.navbar-base{
    background-color: rgb(79, 231, 241);
}
.navbarH2{
    margin: 0;
    font-size: 1.7vw;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(30, 30, 30);
    
}

.navbar-container {
    height: 5vh;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(79, 231, 241);
    padding: 7px;
    align-items: center;

}
.buttons-navbar{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(30, 30, 30);
    color: aqua;
    border-radius: 10px 0px;
    border: none;
    cursor: pointer;
    font-weight: bolder;

}
.buttons-navbar:hover {
    background-color: black;
}